{% extends "base.html" %}

{% block head%}

    <title>Home</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/popup_cart.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/shopping_cart.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <script
      type="text/javascript"
      src="{{ url_for('static', filename='method.js') }}"
></script> <style>
.scroll_down{
  width: cover;
  height: 350px;
  overflow-y: scroll;
}

.scroll_down::-webkit-scrollbar {
    display: none;
}

.scroll_down {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
</style>

{%endblock%}

{% block body%}

<section class = "container bg-dark" >
    <nav class="tabs is-boxed is-small is-centered is-box ">
        <div class = "container">
            <ul>
                <li class = "tab is-active" onclick="openTab(event,'Most_Common_Dishes')">
                    <a  style="color:rgb(255, 200, 0);">
                        <b>Most Common Dishes</b>
                    </a>
                </li>
                <li class="tab" onclick="openTab(event,'New_Dishes')">
                    <a  style="color:rgb(255, 200, 0);">
                        <b>New Dishes</b>
                    </a>
                </li>
                <li class="tab" onclick="openTab(event,'Combo')">
                    <a  style="color:rgb(255, 200, 0);">
                        <b>Combo</b>
                    </a>
                </li>
                <li class="tab" onclick="openTab(event,'Promo')">
                    <a style="color:rgb(255, 200, 0);">
                        <b>Promotion</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<section class = "container bg-dark" >
    <nav class="tabs is-boxed is-small is-centered is-box ">
        <div class = "container">
            <ul>
                <li class = "tab" onclick="openTab(event,'Appetizer')">
                    <a  style="color:rgb(255, 200, 0);">
                        <b>Appetizer</b>
                    </a>
                </li>
                <li class = "tab" onclick="openTab(event,'Salad')">
                    <a style="color:rgb(255, 200, 0);">
                        <b>Salad</b>
                    </a>
                </li>
                <li class = "tab" onclick="openTab(event,'Main_Dishes')">
                    <a style="color:rgb(255, 200, 0);">
                        <b>Main Dishes</b>
                    </a>
                </li>
                <li class = "tab" onclick="openTab(event,'Dessert')">
                    <a style="color:rgb(255, 200, 0);">
                        <b>Dessert</b>
                    </a>
                </li>
                <li class = "tab" onclick="openTab(event,'Drink')">
                    <a style="color:rgb(255, 200, 0);">
                        <b>Drink</b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<div class="container scroll_down">
    <div id="Most_Common_Dishes" class="content-tab" >
        <div class = "container" style="color:black; background-color: white" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Pho</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>5$</b>
                    </a>
                    <a href="#" data-name="Pho" data-price="5" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Pho.jpg" alt = "Pho" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

        <div class = "container" style="color:black; background-color: rgb(255,255,230)" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Curry</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>7$</b>
                    </a>
                    <a href="#" data-name="Curry" data-price="7" class="add-to-cart btn btn-primary ">Add</a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Curry.jpeg" alt = "Curry" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

        <div class = "container" style="color:black; background-color: white" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Beef Steak</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>22$</b>
                    </a>
                    <a href="#" data-name="Beef Steak" data-price="22" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Steak.jpg" alt = "Steak" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>


        <div class = "container" style="color:black; background-color: rgb(255,255,230)" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Fried Chicken</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>15$</b>
                    </a>
                    <a href="#" data-name="Fried Chicken" data-price="15" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/FriedChicken.png" alt = "FriedChicken" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

        <div class = "container" style="color:black; background-color: white" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Sushi</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>3$</b>
                    </a>
                    <a href="#" data-name="Sushi" data-price="3" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Sushi.jpg" alt = "Sushi" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

    </div>

    <div id="New_Dishes" class="content-tab" >
        <div class = "container" style="color:black; background-color: white" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Pizza</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>10$</b>
                    </a>
                    <a href="#" data-name="Pizza" data-price="10" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Pizza.jpg" alt = "Pizza" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

        <div class = "container" style="color:black; background-color: rgb(255,255,230)" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Spaghetti</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>7$</b>
                    </a>
                     <a href="#" data-name="Spaghetti" data-price="7" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Spaghetti.jpg" alt = "Spaghetti" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>
    </div>

    <div id="Combo" class="content-tab" >
        <div class = "container" style="color:black; background-color: white" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Combo 1</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>11$</b>
                    </a>
                    <a href="#" data-name="Combo 1" data-price="11" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Combo1.jpg" alt = "Combo1" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

        <div class = "container" style="color:black; background-color: rgb(255,255,230)" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Combo 2</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium">
                        <b>17$</b>
                    </a>
                    <a href="#" data-name="Combo 2" data-price="17" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Combo2.png" alt = "Combo2" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>
    </div>


    <div id="Promo" class="content-tab" >
        <div class = "container" style="color:black; background-color: white" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Grilled Salmon</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium sale_type">
                            <del>
                                <span class="amount"><b>$42,00</b></span>
                            </del>
                            <ins>
                                <span class="amount"><b>35$</b></span>
                            </ins>
                    </a>
                    <a href="#" data-name="Grilled Salmon" data-price="35" class="add-to-cart btn btn-primary ">Add </a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Grilled_Salmon.jpg" alt = "Grilled_Salmon" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>
        </div>

        <div class = "container" style="color:black; background-color: rgb(255,255,230)" >
            <div class = "columns is-vcentered is-mobile">
                <div class = "column is-6-mobile">
                    <h2 class = "is-size-3-mobile">
                        <b>Grilled Lamb</b>
                    </h2>
                    <span class = "tag is-medium" style = "background-color:orange">
                        Price
                    </span>
                    <a class = "is-medium sale_type">
                            <del>
                                <span class="amount"><b>$35,00</b></span>
                            </del>
                            <ins>
                                <span class="amount"><b>25$</b></span>
                            </ins>
                    </a>
                    <a href="#" data-name="Grilled Lamb" data-price="25" class="add-to-cart btn btn-primary ">Add</a>
                </div>
                <div class = "column is-6-mobile has-text-right">
                    <img src="../static/img/Grilled_Lamb.jpg" alt = "Grilled_Lamb" style = "max-height: 120px" class = "py-1 px-1">
                </div>
            </div>

     </div>
    </div>


    <div id="Appetizer" class="content-tab" >

    </div>

    <div id="Salad" class="content-tab" >
</div>

    <div id="Main_Dishes" class="content-tab" >

    </div>


    <div id="Dessert" class="content-tab" >

    </div>


    <div id="Drink" class="content-tab" >

    </div>

</div>



<nav class="navbar navbar-inverse bg-inverse fixed-bottom bg-faded">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart" style = "background-color: rgb(255, 132, 0);">Cart
              (<span class="total-count"></span>)
          </button>
</nav>





<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">

        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="clear-cart btn btn-danger" >Clear Cart</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div>






<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


{%endblock%}