{% extends "base.html" %}

{% block head%} 
    <title>View account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_view_account.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">

{%endblock%}
{% block body%}
<br>
    <ul class="choosing-option">
        <li><a class = "menu-option" href="{{ url_for('profile') }}">View profile</a></li>
        <li><a class = "menu-option" href="{{ url_for('change_password') }}">Change password</a></li>
        <li><a class = "menu-option" href="#">Add new payment</a></li>
        <li><a class = "menu-option" href="{{ url_for('order_history') }}">Order history</a></li>
        <li><a class = "menu-option" href="{{ url_for('logout') }}">Logout</a></li>
    </ul>


{%endblock%}

