{% extends "base.html" %}

{% block head%} 
    <title>View account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_view_account.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">

{%endblock%}
{% block body%}
<br>
    <ul class="choosing-option">
        <li><a class = "menu-option text-dark" href="{{ url_for('profile') }}" >
            <b><strong>View profile</strong></b>
        </a></li>
        <li><a class = "menu-option text-dark" href="#">
            <b><strong>Change password</strong></b>
        </a></li>
        <li><a class = "menu-option text-dark" href="#" >
            <b><strong>Add new payment</strong></b>
        </a></li>
        <li><a class = "menu-option text-dark" href="{{ url_for('order_history') }}" >
            <b><strong>Order history</strong></b>
        </a></li>
        <li><a class = "menu-option text-dark" href="{{ url_for('logout') }}" >
            <b><strong>Logout</strong></b>
        </a></li>
    </ul>

{%endblock%}

