{% extends 'base.html' %}

{% block head %}
<title>Most common dishes manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class = "has-text-centered">Most common dishes manager</h1>
    {% if dishes|length < 1 %}
    <h4 class = "has-text-centered">There are no dishes. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Dish</th>
            <th>Price</th>
        </tr>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.name }}</td>
                <td>{{ dish.price }}</td>
                <td>
                    <a href="/most_common_dishes_update/{{dish.id}}">Update</a>
                    <br>
                    <a href="/most_common_dishes_delete/{{dish.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form has-text-centered ">
        <form action="/most_common_dishes_manager" method="POST">
            <input class = "input" type="text" name="name" id="name" placeholder = "Dish name">
            <input class = "input" type="number" name="price" id="price" placeholder = "Price">
            <input class = "button" type="submit" value="Add Task">            
        </form>
    </div>
    <br>
    <a href="{{ url_for('manager') }}" class="has-text-centered box">Exit</a>
</div>
{% endblock %}