{% extends 'base.html' %}

{% block head %}
<title>Update{{dish.name}}</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update {{ dish.name }}</h1>

    <div class="form has-text-centered">
        <form action="/new_dishes_update/{{dish.id}}" method="POST">
            <input class = "input" type="text" name="name" id="name" value="{{dish.name}}" placeholder = "Dish name">
            <input class = "input" type="number" name="price" id="price" value="{{dish.price}}" placeholder = "Price">
            <input class = "button" type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}