<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_nav.css') }}">
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <!-- <footer class="footer">
        <div class="content has-text-centered is-italic has-text-grey">
          <p>KSTN fake project </p>
          <p>Copyright@ 2021</p>
        </div>
      </footer> -->

      {% if current_user.is_authenticated and current_user.id != 1 and request.url_rule.endpoint != "confirm_order" and request.url_rule.endpoint != "order_status" %}
      {% if current_user.prepare_status > 0 %}
      <a href="{{ url_for('order_status') }}" class="box has-text-centered has-text-primary has-text-weight-bold">
        Check your order status
      </a>
      {% else %}
      <a href="{{ url_for('confirm_order') }}" class="box has-text-centered has-text-primary has-text-weight-bold">
        Confirm {{current_user.number_of_order}} 
        {% if current_user.number_of_order <=1 %}
        order
        {% else %}
        orders
        {% endif %}
      </a>
      {% endif %}
      {% endif %}


      {% if current_user.is_authenticated %}
      {% if  current_user.id != 1 %}
      <footer class="footer">
        <div class="content has-text-centered">
          <a href="{{ url_for('view_menu') }}" class="box has-text-centered has-text-primary has-text-weight-bold">
            Back to menu
          </a>
          <a href="{{ url_for('menu_option') }}" class="box has-text-centered has-text-primary has-text-weight-bold">
            Home
          </a>
          <a href="{{ url_for('logout') }}" class="box has-text-centered has-text-primary has-text-weight-bold">
            Log out
          </a>
        </div>
      </footer>
      {% endif %}
      {% else %}
      {% endif %}
</body>
</html>