{% extends "base.html" %}

{% block head%} 
<title>Restaurant Pos</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">

{%endblock%}

</style>
{% block body%}

<br>
<br>
<br>
<br>
<br>
<br>

<body>
    <h1 class = "has-text-centered title has-text-white is-size-1 is-italic">
        Restaurant POS
    </h1>
    {% if current_user.is_authenticated %}
    <a class = "menu-option" href="{{ url_for('menu_option') }}">Menu</a>
    <a class = "menu-option" href="{{ url_for('view_account') }}">View account</a>
    <a class = "menu-option" href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a class = "menu-option" href="{{ url_for('login') }}">Login</a>
    <a class = "menu-option" href="{{ url_for('signup') }}">Sign up</a>
    {% endif %}

{%endblock%}