{% extends "base.html" %}

{% block head%} 
    <title>Login</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">
    {%endblock%}
{% block body%}
<br>
{% if current_user.is_authenticated %}
<br>
<br>
<br>
<div class="has-text-centered is-size-3 has-text-weight-bold has-text-white">
        PLEASE LOGOUT BEFORE LOG INTO ANOTHER ACCOUNT
</div>
<a class = "box has-text-centered" href="{{ url_for('menu_option') }}">Menu</a>
<a class = "box has-text-centered" href="{{ url_for('logout') }}">Logout</a>
{% else %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-centered is-size-1 has-text-white">Login</h3>
    <br>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your password">
                </div>
            </div>

            <button class="login-button is-size-5">Login</button>
        </form>
        <br>
        <a href="{{ url_for('signup') }}" class = "button is-block is-info is-large is-fullwidth">Signup</a>
    </div>
</div>
{% endif %}
{%endblock%}