{% extends "base.html" %}

{% block head%} 
    <title>Manager</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_view_menu.css') }}">

{%endblock%}
{% block body%}
<h1 class="has-text-centered is-size-1 has-text-white">
    Menu manager
</h1>
<section class="section">
    <div class="container">
        <div class=" columns is-vcentered has-text-centered">
            <div class="column is-12">
                <a href="{{ url_for('customer_manager') }}" class="box has-text-centered has-text-weight-bold">
                    Customer manager
                </a>
                <a href="{{ url_for('order_manager') }}" class="box has-text-centered has-text-weight-bold">
                    Order manager
                </a>
                <a href="{{ url_for('most_common_dishes_manager') }}" class="box has-text-centered has-text-weight-bold">
                    Most common Dishes
                </a>
                <a href="{{ url_for('new_dishes_manager') }}" class="box has-text-centered has-text-weight-bold">New Dishes</a>
                <a href="{{ url_for('combo_manager') }}" class="box has-text-centered has-text-weight-bold">Combo</a>
                <a href="{{ url_for('logout') }}" class="box has-text-centered has-text-weight-bold">
                    Log out
                </a>
            </div>
        </div>
        
    </div>
</section>


<section class="section">
    <div class="container">
        <div class=" columns has-text-centered is-mobile">
            <div class="column is-5">
                <a class = "box has-text-weight-bold has-text-black" href="{{ url_for('appetizers_manager') }}">Appetizers</a>
            </div>
            <div class="column is-2"></div>
            <div class="column is-5">
                <a class = "box has-text-weight-bold has-text-black" href="{{ url_for('soup_manager') }}">Soup</a>
            </div>
        </div>
        <div class=" columns has-text-centered is-mobile">
            <div class="column is-5">
                <a class = "box has-text-weight-bold has-text-black" href="{{ url_for('salad_manager') }}">Salad</a>
            </div>
            <div class="column is-2"></div>
            <div class="column is-5">
                <a class = "box has-text-weight-bold has-text-black" href="{{ url_for('main_dishes_manager') }}">Main dishes</a>
            </div>
        </div>
        <div class=" columns has-text-centered is-mobile">
            <div class="column is-5">
                <a class = "box has-text-weight-bold has-text-black" href="{{ url_for('dessert_manager') }}">Dessert</a>
            </div>
            <div class="column is-2"></div>
            <div class="column is-5">
                <a class = "box has-text-weight-bold has-text-black" href="{{ url_for('drinks_manager') }}">Drinks</a>
            </div>
        </div>
    </div>
</section>

{%endblock%}