{% extends "base.html" %}
{% block head%} 

    <title>OMeal</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/shopping_cart.css') }}">
{%endblock%}

{% block body%}
<br>
<br>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<body>
    <a class = "menu-option text-dark" href="{{ url_for('view_menu') }}">View menu</a>
        <a class = "menu-option text-dark" href="{{ url_for('view_account') }}">View account</a>
        <a class = "menu-option text-dark" href="{{ url_for('contact_us') }}">Contact us</a>

<br>
<br>
<br>
{%endblock%}