{% extends "base.html" %}

{% block head%} 
    <title>Register</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">
{%endblock%}

{% block body%}
<br>
<br>
{% if current_user.is_authenticated %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="has-text-centered is-size-3 has-text-weight-bold has-text-white">
        PLEASE LOGOUT BEFORE LOG INTO ANOTHER ACCOUNT
</div>
<a class = "box has-text-centered" href="{{ url_for('menu_option') }}">Menu</a>
<a class = "box has-text-centered" href="{{ url_for('logout') }}">Logout</a>
{% else %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-centered is-size-1 has-text-white">Sign up</h3>
    <br>
    <br>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Go to <a href="{{ url_for('login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form action="/signup" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="register-button is-size-5">Sign Up</button>
            <br>
            <a href="{{ url_for('login') }}" class="button is-block is-info is-large is-fullwidth">Login</a>
        </form>
    </div>
</div>
{% endif %}
{%endblock%}