:root {
    --primary-color: rgb(255, 132, 0);
}

body, html {
    background-image: url("../img/background_for_pre_login.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.change-avatar {
    font-weight: 800;
    color: white;
    margin-top: 10em;
    text-align: center;
}

.choosing-option {
    margin: auto;
    text-align: center;
    font-weight: 600;
	list-style-type: none;
	font-family: "Bell Gothic Std Light";
    padding: 0px;
}



