{% extends "base.html" %}

{% block head%} 
    <title>Change password</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_pre_login.css') }}">
    {%endblock%}
{% block body%}
<br>

<div class="column is-4 is-offset-4 ">

    <div class="box is-mobile">

        <h2 class="title has-text-centered is-size-1 has-text-black">Login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/change_password">
                    <div class="field">
                        <label for="" class="label">Your current password</label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" name="current_password" type="password" placeholder="********" required autofocus>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right"><i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label for="" class="label">New Password</label>
                        <p class="control has-icons-left">
                            <input class="input" type="password" name="new_password" placeholder="*******" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label for="" class="label">Confirm new Password</label>
                        <p class="control has-icons-left">
                            <input class="input" type="password" name="confirm_new_password" placeholder="*******" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <span class="field" >
                        <p class="control">
                            <button class="button is-success is-large is-fullwidth">
                            Change password
                            </button>
                        </p>
                    </span>
        </form>

    </div>
</div>
{%endblock%}